.game_settings {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/genshin.jpg");
    background-size: 100% 100%;
    user-select: none;
}

.game_settings_login {
    height: 45vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.game_settings_title {
    color: white;
    font-size: 4vh;
    text-align: center;
    height: 6vh;
    padding-top: 3vh;
    margin-bottom: 3vh;
}

.game_settings_username {
    display: block;
    height: 7vh;
}

.game_settings_password {
    display: block;
    height: 7vh;
}

.game_settings_submit {
    display: block;
    height: 7vh;
}

.game_settings_item {
    width: 100%;
    height: 100%;
}

.game_settings_item > input {
    width: 70%;
    line-height: 4vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
}

.game_settings_item > button {
    color: white;
    width: 70%;
    line-height: 4vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #32CD99;
    border-radius: 10px;
    cursor: pointer;
}

.game_settings_error_messages {
    color: red;
    font-size: 1.2vh;
    display: inline;
    float: left;
    padding-left: 3.2vw;
    padding-top: 0.8vw;
}

.game_settings_options {
    color: white;
    font-size: 1.5vh;
    display: inline;
    float: right;
    padding-right: 3.2vw;
    padding-top: 0.6vw;
    cursor: pointer;
}

.game_settings_wechat,
.game_settings_qq {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.game_settings_wechat img,
.game_settings_qq img {
    width: 30px;
    border-radius: 30px;
    cursor: pointer;
}


.game_settings_register {
    height: 49vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.game_menu {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background0.jpg");
    background-size: 100% 100%;
    user-select: none;
}

.game_menu_field {
    width: 20vw;
    position: relative;
    top: 32%;
    left: 20%;
}

.game_menu_field_item {
    height: 7vh;
    width: 18vw;
    color: white;
    font-size: 5vh;
    font-style: italic;
    padding :2vh;
    cursor: pointer;
    text-align: center;
    background-color: rgba(39, 21, 28, 0.6);
    border-radius: 10px;
    letter-spacing: 0.5vw;
}

.game_menu_field_item:hover {
    transform: scale(1.1);
    transition: 100ms;
}

.game_playground {
    width: 100%;
    height: 100%;
    user-select:none;
    background-color: grey;
}

.game_playground > canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.web_info_show {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
}

.web_info_show a {
    text-decoration: none;
    color: white; 
}

.web_info_show a:hover {
    color: orange;
}

.beian_show {
    text-align: center; 
}

.other_info_show {
    display: flex;
    align-items: center;
}


