{% load static %}

<head>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <link rel="icon" type="image/icon" href="{% static 'image/settings/ealogo.ico' %}">
</head>


<body style="margin: 0">
    <div id="game_1"></div>
    <script type="module">
        import {Game} from "{% static 'js/dist/game.js' %}";
        $(document).ready(function(){
            let game = new Game("game_1");
        });
    </script>
</body>
